---
layout: page
title: Impressum
---
<section>

<h4>Impressum</h4>

        <h1>Impressum</h1>
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG:</h2>

        <h2>Kontakt:</h2>
        <script language="JavaScript">
            var username = "huyleduc";

            var hostname = "zedat.fu-berlin.de";

            var linktext = username + "@" + hostname;

            document.write("E: <a href='" + "mail" + "to:" + username + "@" +
                hostname + "'>" + linktext + "</a>");
        </script>
        </p>
        <h2>Haftung f&uuml;r Inhalte</h2>
        <p>Als Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r
            eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            Nach &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch
            nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen
            zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine
            rechtswidrige T&auml;tigkeit hinweisen.</p>
        <p>
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach
            den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche
            Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
            Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden
            Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <h2>Haftung f&uuml;r Links</h2>
        <p>Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren
            Inhalte wir keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r
            diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r
            die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter
            oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden
            zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e
            &uuml;berpr&uuml;ft. Rechtswidrige Inhalte waren zum Zeitpunkt der
            Verlinkung nicht erkennbar.</p>
        <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch
            ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
            Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
            umgehend entfernen.</p>
        <h2>
            Urheberrecht</h2>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
            unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung,
            Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb
            der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung
            des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser
            Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch
            gestattet.
        </p>
        <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
            werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
            Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
            aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
            Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend
            entfernen.
        </p>
        <p>Quelle: <a href="https://www.e-recht24.de">
		 https://www.e-recht24.de</a></p>
        <h1>Datenschutzerkl&auml;rung</h1>
        <h2>Datenschutz</h2>
        <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer pers&ouml;nlichen Daten
            sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich
            und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
            Datenschutzerkl&auml;rung.
        </p>
        <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener
            Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten
            (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
            erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger Basis. Diese
            Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte
            weitergegeben.
        </p>
        <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B.
            bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen
            kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte
            ist nicht m&ouml;glich.</p>
        <p>&nbsp;</p>
        <h2>
            Kontaktformular</h2>
        <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre
            Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen
            Kontaktdaten zwecks Bearbeitung der Anfrage und f&uuml;r den Fall von
            Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne
            Ihre Einwilligung weiter.</p>
        <p>&nbsp;</p>
        <h2>Newsletterdaten</h2>
        <p>Wenn Sie den auf der Webseite angebotenen Newsletter beziehen m&ouml;chten,
            ben&ouml;tigen wir von Ihnen eine E-Mail-Adresse sowie Informationen,
            welche uns die &Uuml;berpr&uuml;fung gestatten, dass Sie der Inhaber
            der angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters
            einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten
            verwenden wir ausschlie&szlig;lich f&uuml;r den Versand der angeforderten
            Informationen und geben sie nicht an Dritte weiter.</p>
        <p>Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse
            sowie deren Nutzung zum Versand des Newsletters k&ouml;nnen Sie jederzeit
            widerrufen, etwa &uuml;ber den "Austragen"-Link im Newsletter.
        </p>
        <p>&nbsp;</p>
        <h2>YouTube</h2>
        <p>Unsere Webseite nutzt Plugins der von Google betriebenen Seite YouTube.
            Betreiber der Seiten ist die YouTube, LLC, 901 Cherry Ave., San Bruno,
            CA 94066, USA. Wenn Sie eine unserer mit einem YouTube-Plugin ausgestatteten
            Seiten besuchen, wird eine Verbindung zu den Servern von YouTube hergestellt.
            Dabei wird dem Youtube-Server mitgeteilt, welche unserer Seiten Sie
            besucht haben.</p>
        <p>Wenn Sie in Ihrem YouTube-Account eingeloggt sind erm&ouml;glichen Sie
            YouTube, Ihr Surfverhalten direkt Ihrem pers&ouml;nlichen Profil zuzuordnen.
            Dies k&ouml;nnen Sie verhindern, indem Sie sich aus Ihrem YouTube-Account
            ausloggen.
        </p>
        <p>Weitere Informationen zum Umgang von Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung
            von YouTube unter: <a href="https://www.google.de/intl/de/policies/privacy"
                target="_blank">
			      https://www.google.de/intl/de/policies/privacy</a></p>
        <p>&nbsp;</p>
        <h2>Widerspruch WerbeMails</h2>
        <p>Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten
            zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung
            und Informationsmaterialien wird hiermit widersprochen. Die Betreiber
            der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle
            der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails,
            vor.
        </p>
        <p>
            &nbsp;</p>
        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</section>
