--- 
layout: landing 
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p>{{ site.description | markdownify }}</p>
        <!--
        <ul class="actions">
            <li><a href="#" class="button special">Activate</a></li>
        </ul>
      -->
    </div>
    <a href="#one" class="more scrolly">Trainingszeiten</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Trainingszeiten</h2>
        </header>

        <ul class="features">
            {% for course in site.course %}
            <li class="icon ">
                <img src='{{course.image_path}}' width="140" class='clipped mycenter' />
                <h3>{{course.title}}</h3>
                <p> <i class="far fa-clock"></i> {{course.time }}
                </p>
                <p>
                    <i class="fas fa-location-arrow"></i> {{course.place}}
                </p>
                <p>
                    <i class="far fa-user"></i> {{course.coach}}
                </p>
            </li>

            {% endfor %}

    </div>
</section>



<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2> Kontakt</h2>
            <p>
                <a target="_blank" href="{{site.social.facebook-official}}"><i class="fab fa-facebook-square"></i></a>

            </p>
            <p> Site Owner <a href="{{site.email}}">Huy LeDuc</a></p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special">Activate</a></li>
            <li><a href="#" class="button fit">Learn More</a></li>
        </ul>
    </div>
</section>
